<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.content">
        <!--글 쓰기 페이지-->
        <h2></h2>
        <div>
            <input type="text" class="form-control" name="TITLE" placeholder="제목을 입력하세요">
            <textarea class="board col border rounded mt-4 p-4" rows="10" name="CONTENT">
        </textarea>
        </div>
        <div class="row m-3 justify-content-end">
            <input type="submit" class="btn m-2 btn-outline-secondary"
                th:if="${paramMap.CATEGORY=='free'||paramMap.CATEGORY=='qna'}"
                th:formaction="${'/community/'+paramMap.CATEGORY}" name="submit" value="글작성">
            <input type="submit" class="btn m-2 btn-outline-secondary"
                th:if="${paramMap.CATEGORY=='notice'||paramMap.CATEGORY=='event'}"
                th:formaction="${'/news/'+paramMap.CATEGORY}" name="submit" value="글작성">

            <!--목록으로 버튼-->
            <input type="submit" value="목록으로" class="btn btn-secondary m-2"
                th:if="${paramMap.CATEGORY=='free'||paramMap.CATEGORY=='qna'}"
                th:formaction="${'/community/'+paramMap.CATEGORY}">
            <input type="submit" value="목록으로" class="btn btn-secondary m-2"
                th:if="${paramMap.CATEGORY=='notice'||paramMap.CATEGORY=='event'}"
                th:formaction="${'/news/'+paramMap.CATEGORY}">

        </div>
    </th:block>
</div>